---
import * as content from "../pages/content/content.md";
import Badge from "./Badge.astro";
import { Image } from "astro:assets";
import CocktailsSVG from '../images/bestRestaurants/Cocktails Vignette.svg';
import PhoneSVG from '../images/bestRestaurants/Frame 1000001202.svg';

const { headline, description, badge } = content.frontmatter.toast_overview;
---

<section class="flex items-center justify-center bg-[#252525] text-white px-8">
  <div class="flex flex-col-reverse md:flex-row items-center justify-between max-w-6xl w-full mx-auto md:min-h-[855px]">
    <div class="flex-1 order-1 md:order-1 md:mb-0 md:max-h-full md:max-h-full">
      <Image src={PhoneSVG} alt="Phone mockup" class="max-w-full md:h-[855px]" />
    </div>
    <div>

    </div>
    <div class="flex-1 flex flex-col justify-between order-2 md:order-2 md:ml-8 md:mt-8">
      <div class="mt-8 md:mt-28 order-3 md:order-1 md:text-start text-center mb-8 md:mb-4">
        <Badge text={badge} />
        <h2 class="my-4 text-white">{headline}</h2>
        <h3 class="type-default text-white">{description}</h3>
        <button class="bg-yellow-500 text-gray-900 px-6 py-3 rounded-lg mt-4">Download Now</button>
      </div>
      <div class="w-full order-1 md:order-3">
        <Image src={CocktailsSVG} alt="Cups" class="max-w-full h-auto mx-auto mb-0" />
      </div>

    </div>
  </div>
</section>
