---
import { getImage, Image } from "astro:assets";
import logo from "../images/local-by-toast.svg";
import cloud from "../images/cloud.svg";
import phone from "../images/phone-hand.png";
import city from "../images/city.png";
import  Button from "./Button.astro";
import * as content from "../pages/content/content.md"

const optimizedBackgroundImage = await getImage({ src: city })

const { headline, description, buttonText, altText } = content.frontmatter.header;

---
<div class="px-6 py-6 lg:px-12 lg:py-12 relative">
  <div class="bg-gradient-to-b from-blue-100 to-blueGray-50 rounded-lg overflow-clip px-8">
    <div class="mx-auto max-w-7xl text-center pt-10 lg:flex lg:text-left lg:px-8 lg:pt-32">
      <div class="mx-auto max-w-2xl flex-shrink-0 mb-8 lg:max-w-md relative z-20">
        <Image src={logo} alt={altText.logo} class="w-32 lg:w-44" />
        <h1 class="text-4xl lg:text-5xl font-semibold mt-2 lg:mt-6">{headline}</h1>
        <p class="text-lg my-4 z-10">{description}</p>
        <Button text={buttonText} />
      </div>

      <div class="relative z-20">
        <Image src={phone} alt={altText.phone} class="w-60 lg:w-80 z-20" />
      </div>
    </div>
      <!-- <Image src={city} alt={altText.city} class="absolute h-[70vh] lg:h-[80vh] w-full object-cover object-right opacity-30 " /> -->
      <!-- <div class="absolute -z-10 bg-gradient-to-l from-white via-black to-black h-[70vh] lg:h-[80vh] w-full" /> -->
    <div class="absolute bottom-0 h-48 w-[80vw] bg-gradient-to-l from-white via-black to-black bg-no-repeat bg-cover" style={`background-image: url('${optimizedBackgroundImage.src}')`} >HELLO</div>

    <Image src={cloud} alt={altText.cloud} class="absolute top-10 right-0 w-12 animate-loop-scroll-med z-10" />
    <Image src={cloud} alt={altText.cloud} class="absolute top-24 right-12 w-24 animate-loop-scroll-fast z-10" />
    <Image src={cloud} alt={altText.cloud} class="absolute top-32 right-24 w-8 animate-loop-scroll-slow z-10" />
  </div>
</div>



<!-- <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
    <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">
      <img class="h-11" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
      <div class="mt-24 sm:mt-32 lg:mt-16">
        <a href="#" class="inline-flex space-x-6">
          <span class="rounded-full bg-indigo-500/10 px-3 py-1 text-sm font-semibold leading-6 text-indigo-400 ring-1 ring-inset ring-indigo-500/20">What's new</span>
          <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-300">
            <span>Just shipped v1.0</span>
            <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </span>
        </a>
      </div>
      <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">Deploy to the cloud with confidence</h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="#" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Get started</a>
        <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
      </div>
    </div>
    <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <img src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png" alt="App screenshot" width="2432" height="1442" class="w-[76rem] rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10">
      </div>
    </div>
  </div> -->
