---
import * as content from "../pages/content/content.md";
import { Image } from "astro:assets";
import iceCream from "../images/loyalty/ice_cream2.png";
import joinImage from "../images/loyalty/join.png";
import trackImage from "../images/loyalty/track.png";

const { headline, description, image_subheaders } = content.frontmatter.loyalty;
---

<div class="flex flex-1 flex-col text-center py-8 mb:py-24 bg-[#FFF4FE]">
  <div class="md:mt-10 md:mb-8 max-w-[80%] md:max-w-xl mx-auto">
    <h2 class="mb-1 h2">
      {headline}
    </h2>
    <h3 class="h3">
      {description}
    </h3>
  </div>

  <div class="flex flex-col md:flex-row md:mt-10 flex-1 items-center justify-between max-w-screen-xl  md:max-h-[800px] mx-auto gap-8">
    
    <div class="flex-1 flex flex-col items-center md:items-start w-[80%] md:w-auto gap-4 mt-16">
        <Image
          src={iceCream}
          alt="hand ice cream"
          class="w-full h-auto md:h-[500px] object-contain"
        />
        <div class="mt-4 text-center">
          <p class="text-[#252525E5] font-medium">
            {image_subheaders.icecream_header}
          </p>
          <p class="text-[#252525E5]">
            {image_subheaders.icecream_description}
          </p>
        </div>
    </div>
    <div class="flex-1 flex flex-col items-center w-[80%] md:w-auto gap-4">
      <div class="flex flex-col items-center w-full">
        <Image
          src={joinImage}
          alt="home screen loyalty page"
          class="w-full h-auto md:max-h-[500px] object-contain"
        />
        <div class="mt-4 text-center">
          <p class="text-[#252525E5] font-medium">
            {image_subheaders.join_header}
          </p>
          <p class="text-[#252525E5]">
            {image_subheaders.join_description}
          </p>
        </div>
      </div>
    </div>
    <div class="flex-1 flex flex-col items-center w-[80%] md:w-auto gap-4">
      <div class="flex flex-col items-center w-full">
        <Image
          src={trackImage}
          alt="restaurant loyalty page"
          class="w-full h-auto md:max-h-[500px] object-contain"
        />
        <div class="mt-4 text-center">
          <p class="text-[#252525E5] font-medium">
            {image_subheaders.tracking_header}
          </p>
          <p class="text-[#252525E5]">
            {image_subheaders.tracking_description}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
