---
import * as content from "../pages/content/content.md";
import { Image } from "astro:assets";
import iceCream from "../images/loyalty/ice_cream.png";
import joinImage from "../images/loyalty/join.png";
import trackImage from "../images/loyalty/track.png";

const { headline, description, image_subheaders } = content.frontmatter.loyalty;
---

<div class="flex flex-1 flex-col text-center py-8 mb:py-24 bg-[#FFF4FE]">
  <div class="md:mt-10 md:mb-8 max-w-[80%] md:max-w-xl mx-auto">
    <h2 class="mb-1 h2">
      {headline}
    </h2>
    <h3 class="h3">
      {description}
    </h3>
  </div>

  <div
    class="flex flex-col md:flex-row md:mt-10 flex-1 items-center justify-between max-w-screen-xl mx-auto gap-16"
  >
    <div
      class="flex-1 flex flex-col items-center md:items-start w-full md:w-auto md:mr-4 gap-4"
    >
      <Image
        src={iceCream}
        alt="hand ice cream"
        class="md:h-[500px] h-[450px] max-w-full"
        width="584"
        height="670"
      />
      <div class="max-w-[75%]">
        <p class="text-[#252525E5] font-medium md:text-center">
          {image_subheaders.icecream_header}
        </p>
        <p class="text-[#252525E5] md:text-center">
          {image_subheaders.icecream_description}
        </p>
      </div>
    </div>
    <div
      class="flex-1 flex flex-col items-center w-full md:w-auto md:mr-4 gap-4"
    >
      <Image
        src={joinImage}
        alt="home screen loyalty page"
        class="md:h-[500px] max-w-full"
        width="287"
        height="580"
      />
      <div>
        <p class="text-[#252525E5] font-medium md:text-center">
          {image_subheaders.join_header}
        </p>
        <p class="text-[#252525E5] md:text-center">
          {image_subheaders.join_description}
        </p>
      </div>
    </div>
    <div class="flex-1 flex flex-col items-center w-full md:w-auto gap-4">
      <Image
        src={trackImage}
        alt="restaurant loyalty page"
        class="md:h-[500px] max-w-full"
        width="287"
        height="580"
      />
      <div>
        <p class="text-[#252525E5] font-medium text-center">
          {image_subheaders.tracking_header}
        </p>
        <p class="text-[#252525E5] text-center">
          {image_subheaders.tracking_description}
        </p>
      </div>
    </div>
  </div>
</div>
