---
import { getImage } from "astro:assets";
import OgImage from "../images/og-image.jpg";

const OgImageSrc = await getImage({ src: OgImage, format: "webp" });

import * as content from "../pages/content/content.md";

const site = Astro.site;

const {
  title,
  description,
  keywords,
  author,
  viewport = "width=device-width, initial-scale=1",
  robots = "index,follow",
  charset = "UTF-8",
  language = "en",
  canonical = site,
  ogType = "website",
  ogTitle,
  ogDescription,
  ogImage = OgImageSrc.src,
  ogUrl = site,
  twitterCard = "summary_large_image",
  twitterTitle,
  twitterDescription,
  twitterImage = OgImageSrc.src,
  twitterUrl = site,
} = content.frontmatter.seo;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />
<meta name="viewport" content={viewport} />
<meta name="robots" content={robots} />
<meta charset={charset} />
<html lang={language}></html>
<link rel="icon" type="image/svg+xml" href="favicon.svg" />
<link
  rel="icon"
  type="image/svg+xml"
  href="/localbytoast-inc/favicon.svg"
/>

{canonical && <link rel="canonical" href={canonical} />}

<meta property="og:type" content={ogType} />
<meta property="og:title" content={ogTitle || title} />
<meta property="og:description" content={ogDescription || description} />
{ogImage && <meta property="og:image" content={ogImage} />}
{ogUrl && <meta property="og:url" content={ogUrl} />}

<meta name="twitter:card" content={twitterCard} />
<meta name="twitter:title" content={twitterTitle || title} />
<meta name="twitter:description" content={twitterDescription || description} />
{twitterImage && <meta name="twitter:image" content={twitterImage} />}
{twitterUrl && <meta name="twitter:url" content={twitterUrl} />}
