---
import usual from "../images/ordering/get-your-usual.png";
import explore from "../images/ordering/explore-all.png";
import activity from "../images/ordering/activity-scroll.png";
import sandwich from "../images/sub-sandwich.png";
import taco from "../images/taco.png";
import ImageOverText from "./ImageOverText.astro";
import * as content from "../pages/content/content.md";
import { Image } from "astro:assets";

const { headline, description, image_subheaders } =
  content.frontmatter.ordering;
---

<div class="bg-[#ECF7F7] pb-52 pt-44 relative overflow-hidden">
  <div class="text-center">
    <div
      class="container mx-auto text-center mt-8 mb-4 px-2 max-w-sm md:max-w-2xl"
    >
      <h2 class="my-4">
        {headline}
      </h2>
      <h3 class="mb-8">
        {description}
      </h3>
    </div>

    <div
      class="flex mx-auto max-w-xs lg:max-w-3xl flex-col lg:flex-row gap-10 lg:gap-4 items-center justify-center"
    >
      <ImageOverText img={usual} content={image_subheaders.reorder} />
      <ImageOverText img={explore} content={image_subheaders.dining} />
      <ImageOverText img={activity} content={image_subheaders.search} />
    </div>

    <!-- Sub Sandwich Illustration -->
    <Image
      src={sandwich}
      alt="sub sandwich illustration"
      class="absolute -bottom-[7rem] md:inset-y-0 -left-2 max-w-72"
    />

    <!-- Taco Illustration -->
    <Image
      src={taco}
      alt="taco illustration"
      class="absolute top-0 sm:inset-y-0 -right-[1.5rem] max-w-60 lg:max-w-72"
    />
  </div>
</div>
